.nav__container {
  align-items: center;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: row;
  padding-right: 10%;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: black;
}

.image__wrapper {
  padding: 20px;
  margin-right: 10%;
}

.nav__list {
  color: white;
  display: flex;
  justify-content: space-between;
  flex: 1;
  list-style: none;
  font-family: "Gilroy";
  font-weight: 300;
  text-transform: uppercase;
}

.buy-link {
  border-right: 1px solid white;
  padding: 0 50px;
  height: auto;
  display: flex;
}

.logo {
  border-radius: 15%;
}

.mobile__nav {
  display: none;
}

.nav__overlay {
  display: flex;
  position: absolute;
  width: 50vh;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  z-index: 1000;
}

.nav__overlay ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: "Gilroy";
  text-transform: uppercase;
}

.nav__overlay li {
  color: beige;
  font-weight: 500;
  padding: 30px 0;
}

.mobile__nav header {
  font-family: "Gilroy";
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1001;
}

@media (max-width: 700px) {
  .nav__list li {
    display: none;
  }
  .mobile__nav {
    display: flex;
  }
}
