.animated_text_strip {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
}
.animated_text_strip .marquee {
  white-space: nowrap;
  animation: marquee 5s linear infinite;
  max-width: none;
}

.animated_text_strip {
  padding: 1rem 0;
}
.marquee {
  font-size: 6rem;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
<<<<<<< HEAD
=======

.animated_text_strip {
  padding: 1rem 0;
}
.marquee {
  font-size: 6rem;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}
>>>>>>> c4da78c (Further modularize code and removed unnecessary css files)
